
#divider {
    //border-left:1px solid rgba(0,0,0,.2);
    //height: 75vh;
    overflow:auto;
    //padding:5%;
    //padding-top:0 !important;
    height:50vh;
    //padding-left:2.5%;
    padding-right:4%;
    p {
        margin-left:3.5%;
    }
}

h1 {
    margin-top:2% !important;
    padding-left:2.5%;
    margin-bottom:2.5% !important;
    font-weight:300;
}

h5 {
    font-weight:600;
    font-variant:small-caps;
}

.no-padding{
    padding-right:0 !important;
    padding-left:0 !important;
}