.thumbnail-img {
    max-width:300px;
    cursor:pointer;
}
.enlarged-img {
    max-width:650px;
    cursor:pointer; 
}

@media only screen and (max-width: 700px) {
    .enlarged-img {
        max-width:350px;
    }
}
