p {
    font-size:2rem;
}
a {
    color:#000;
    text-decoration:underline;
}

a:hover {
    opacity:0.5;
}

.welcome {
    font-size:4rem;
    color:black;
    //font-weight:200;
    //font-family: 'Rock Salt', cursive;
    //font-family: 'Nunito Sans', sans-serif;
    margin-top:17.5%;
    margin-bottom:auto;
    text-align:center;
}

.sunflower {
    max-width:40%;
    margin-top:15%;
    //margin-left:55%;
}
.portfolio-text {
    margin-left:15%;
}

.content {
    background-color: #343a40 !important;
}

.navbar {
    display:none !important;
}

.lead {
    overflow:hidden;
    position:fixed;
    //margin-left:7.5%
}
// @media only screen and (max-width: 700px) {
//     .welcome {
//         font-size:4rem !important;
//     }
//     .sunflower {
//         margin-top:75%;
//         margin-right:50%;
//     }
// }

.sunflower {
    margin-left:7.5%;
}

@media only screen and (max-width: 985px) {
    .welcome {
        font-size:4rem !important;
    }
    .sunflower {
        margin-left:auto;
        margin-top:5%;
        margin-right:auto;
    }
}
@media only screen and (max-width: 575px) {
    .welcome {
        font-size:4rem !important;
        width:100vw;
    }
    .sunflower {
        max-width:35%;
        max-height:200px;
        //margin-top:75%;
        //margin-left:-33%;
    }
}
@media only screen and (max-width: 450px) {
    .welcome {
        font-size:4rem !important;
    }
    .sunflower {
        max-width:30%;
        max-height:200px;

        //margin-top:75%;
        //margin-left:-33%;
    }
}
@media only screen and (max-width: 350px) {
    .welcome {
        font-size:4rem !important;
    }
    .sunflower {
        max-width:20%;
        max-height:200px;
        //margin-top:85%;
        //margin-left:-33%;
    }
}

