
  
  <div class="container">
      
        <!-- <div class="col-sm-12  no-padding"> -->
            <div class="h-100 row align-items-center" id="workTitle" *ngIf="workTitle">
              <div  class="mx-auto page-title w-50">
                  <h1 >WORK</h1>
                  <div class="h-5 w-100 scroll-down" (click)="workTitle=false;workContent=true;" >
                      <span class="material-icons" style="text-shadow:none;">
                          arrow_drop_down
                      </span>
                  </div>
              </div>
          </div>
          <div class="row" id="workContent" *ngIf="workContent">   
            <div class="p-1 col-12 mx-auto">
              <!-- <span class="returnTop" (click)="workTitle=true;workContent=false;" >
                Return to Top
              </span> -->
              <div class="scroll-down">
                <span id="arrow-left" class="material-icons" (click)="prevSlide()">
                  arrow_drop_up
                </span>
              </div>
          </div>
            <!-- <div class="mx-auto scroll-down"> -->

            <!-- </div> -->
  

            <div class="content col-12 my-auto">        
              <div *ngFor="let graphic of graphics; index as i" class="flex-row d-flex slide" [attr.id]="'slide' + i">
                    <div class="my-auto flex-column col-6 graphics" [className]="graphic.enlargeImage ? 'my-auto mx-auto flex-column col-7 graphics' : 'my-auto mx-auto flex-column col-6 graphics'">
                      <img [src]="graphic.image" class="thumbnail-img" *ngIf="!graphic.enlargeImage" (click)="graphic.enlargeImage = !graphic.enlargeImage" [alt]="graphic.alt">
                      <img [src]="graphic.image" class="enlarged-img" *ngIf="graphic.enlargeImage" (click)="graphic.enlargeImage = !graphic.enlargeImage" [alt]="graphic.alt">
                    </div>
                    <div class="my-auto flex-column" [className]="graphic.enlargeImage ? 'my-auto flex-column mx-auto graphics col-5' : 'my-auto flex-column mx-auto graphics col-6'">
                            <h5>description</h5>
                            <p>{{ graphic.description }}</p>
                            <h5>tools</h5>
                            <p>{{ graphic.tools }}</p>
                            <span><a [href]="graphic.siteURL" target="_blank"><div class="btn" *ngIf="graphic.siteURL != ''">View</div></a></span>
                    </div>
                </div>
            </div>
  
            <div class="p-1 col-12 mx-auto">
              <div class="scroll-down">
                <span id="arrow-right" class="material-icons" (click)="nextSlide()">
                  arrow_drop_down
                </span>
              </div>
          </div>

            <!-- <div class="col my-auto mx-auto scroll-down"> -->

            <!-- </div> -->
  
          </div>
        <!-- </div> -->


    <!-- </div> -->
</div>