#aboutTitle {
    height:68vh;
}

.material-icons {
    font-size:36px;
}

.thumbnail-img {
    max-width:300px;
    cursor:zoom-in;
    box-shadow: 0 3px 5px #e0ddca;
}

.enlarged-img {
    max-width:550px;
    cursor:zoom-out; 
    box-shadow: 0 3px 5px #e0ddca;
}

body {
    background-color:#6c757d!important
}

@media only screen and (max-width: 700px) {
    .enlarged-img {
        max-width:350px;
    }
}

p {
    color: #000 !important;
}

h1 {
    margin-top:3em;
}

.scroll-table {
    width:900px;
}

.container {
    background-image:url("https://i.imgur.com/YfWl2UJ.png");
    background-size: cover;
    overflow:hidden;
    .content {
        overflow:auto;
        height:50vh;
    }
    .slide {
        min-height:50vh;
    }
    height:68vh;
}

.arrows {
    #arrow-right, #arrow-left{
        width:2.75em;
        cursor:pointer;
        transition: 0.3s;
    }
    #arrow-right:hover, #arrow-left:hover{
        transition: 0.3s;
        width:3.4em;
    }
}

.divider {
    overflow:auto;
    height:50vh;
}

.page-title{
    margin-top: unset !important;
    margin-bottom: unset !important;
    padding-left: unset !important;
    text-align: center;
    text-shadow: -1px 1px #ccc6a6;
}

h1 {
    margin-top: 2% !important;
    padding-left: 2.5%;
    margin-bottom: 2.5% !important;
    font-weight: 200;
    text-shadow: -1px 1px #ccc6a6;
}



h5 {
    font-weight:600;
    font-variant:small-caps;
}

.no-padding{
    padding-right:0 !important;
    padding-left:0 !important;
    overflow: hidden; // PLEASE REMOVE THESE
    height: 68vh; // PLEASE REMOVE THESE
}

// .scroll-down {
//     opacity:0;
// }

// .mx-auto{
//     text-align: center;
//     .scroll-down{
//         opacity: 0;
//     }
// }

// .container:hover {
//     .scroll-down {
//         opacity: 1;
//         animation-name: fadeInOpacity;
//         animation-iteration-count: 1;
//         animation-timing-function: ease-in;
//         animation-duration: 0.75s;
//         display:inline-block;
//         cursor:pointer;
//     }
//     @keyframes fadeInOpacity {
//         0% {
//             opacity: 0;
//         }
//         100% {
//             opacity: 1;
            
//         }
//     }
// }

.returnTop {
    position:fixed;
    text-decoration:underline;
    cursor:pointer;
    margin-left:-2em;
}

.returnTop:hover {
    opacity:0.5;
}

// .container {
//     animation-name: fadeInBg;
//     animation-iteration-count: 1;

//     animation-timing-function: ease-in;
//     animation-duration: 2.25s;
//     @keyframes fadeInBg {
//         0% {
//             background-image: url(https://i.imgur.com/rrkM8uF.jpg);
//         }
//         100% {
//             background-image: url(https://i.imgur.com/YfWl2UJ.png);
            
//         }
//     }
// }

#workContent {
    height:68vh;
}