<!-- 


<div class="container" style="margin-top: 70px;">
    <h1>Webpage Designs</h1>
    <p>This section shows some examples of webpages I've built. To enlarge an image, click on the thumbnail.</p><br>
    <div   *ngFor="let graphic of graphics">
      <table class="table table-responsive scroll-table">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Description</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <img [src]="graphic.image" class="thumbnail-img" *ngIf="!graphic.enlargeImage" (click)="graphic.enlargeImage = !graphic.enlargeImage" [alt]="graphic.alt">
              <img [src]="graphic.image" class="enlarged-img" *ngIf="graphic.enlargeImage" (click)="graphic.enlargeImage = !graphic.enlargeImage" [alt]="graphic.alt">
            </td>
            <td> 
              {{ graphic.description }} <span *ngIf="graphic.siteURL == 'https://dreamy-yonath-9e7f5b.netlify.app/home'"> <a href='https://dreamy-yonath-9e7f5b.netlify.app/admin'>please feel free to test this feature.</a> Note: search is not currently enabled.</span><br><br>
              <span><b>Tools:</b> {{graphic.tools}}</span><span *ngIf="graphic.siteURL == 'https://dreamy-yonath-9e7f5b.netlify.app/home'"><a href='https://startbootstrap.com/templates/blog'>Bootstrap's Blog Design Template</a></span>
            </td>
            <td>
              <a [href]="graphic.siteURL" target="_blank"><div class="btn" *ngIf="graphic.siteURL != ''">View</div></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  -->
  
  
  <div class="container  h-100">
    <!-- <div class="row"> -->
      
        <div class="col-sm-12  no-padding">
            <div class="row about">
                <h1>Webpages</h1>
                <!-- <p>This section shows some examples of webpages I've built. To enlarge an image, click on the thumbnail.</p> -->
            </div>
            <div class="row">   

              <div class="arrows col my-auto">
                <img id="arrow-left" src="https://i.imgur.com/0BFz4a9.png" (click)="prevSlide()">
              </div>
    
              <div class="content col-10 my-auto">        
                <div *ngFor="let graphic of graphics; index as i" class="flex-row d-flex slide" [attr.id]="'slide' + i">
                      <div class="flex-column col-6 graphics"  >
                        <img [src]="graphic.image" class="thumbnail-img" *ngIf="!graphic.enlargeImage" (click)="graphic.enlargeImage = !graphic.enlargeImage" [alt]="graphic.alt">
                        <img [src]="graphic.image" class="enlarged-img" *ngIf="graphic.enlargeImage" (click)="graphic.enlargeImage = !graphic.enlargeImage" [alt]="graphic.alt">
                      </div>
                      <div class="flex-column (graphic.enlargeImage ? col-6 : col-2)" >
                              <h5 id="who">description</h5>
                              <p>{{ graphic.description }}</p>
                              <h5 id="how">tools</h5>
                              <p>{{ graphic.tools }}</p>
                              <span><a [href]="graphic.siteURL" target="_blank"><div class="btn" *ngIf="graphic.siteURL != ''">View</div></a></span>

                      </div>
                  </div>

              </div>
    
              <div class="arrows col my-auto">
                <img id="arrow-right" src="https://i.imgur.com/wnxQ7Fy.png" (click)="nextSlide()">
              </div>
    
            </div>
        </div>


    <!-- </div> -->
</div>
<script>
  AOS.init();
</script>