.thumbnail-img {
    max-width:300px;
    cursor:pointer;
}
.enlarged-img {
    max-width:650px;
    cursor:pointer; 
}
body {
    background-color:#6c757d!important
}
.view-btn{
    color: #fff;
    background-color: #375a7f !important;
    border-color: #375a7f !important;
}
.view-btn:hover {
    color: #fff;
    background-color: #2b4764 !important;
    border-color: #28415b !important;
}